body p{
    font-family: 'K2D', sans-serif;;
}

.card-body h1{
    font-family: 'Bungee', cursive;
}

.card-body button{
    font-family: 'K2D', sans-serif;
}

.modal-title{
    font-family: 'Bungee', cursive;
}